body {
  color: #f2f2f2;
  background-color: #080208;
  background-image: url("img//dark/hero-bg.jpg");
}

.page-header a {
  color: #fea18d;
}

.page-header a:focus,
.page-header a:hover,
.page-footer a:focus,
.page-footer a:hover {
  color: #f9dd79;
}

.page-header a::after,
.page-footer a::after {
  background-color: #f9dd79;
}

.header-email:focus,
.header-email:hover,
.footer-email:focus,
.footer-email:hover {
  background-image: url("img/icon-email-alt.svg");
}

.header-phone:focus,
.header-phone:hover,
.footer-phone:focus,
.footer-phone:hover {
  background-image: url("img/icon-phone-alt.svg");
}

.theme-button {
  background-color: #9a13ac;
  color: #ffffff;
  box-shadow: 0 4px 16px rgba(74, 62, 233, 0.692);
}

.theme-button:focus,
.theme-button:hover {
  background-color: #288be6;
  box-shadow: 0 4px 32px rgba(20, 7, 204, 0.692);
  color: #ffffff;
}

.theme-button:active {
  background-color: rgba(20, 7, 204, 0.692);
}

.theme-button[data-theme="dark"] {
  display: none;
}

.theme-button[data-theme="light"] {
  display: block;
}

.header-email {
  background-image: url("img/dark/icon-email.svg");
}

.header-phone {
  background-image: url("img/dark/icon-phone.svg");
}

.skill-html {
  background-image: url("img/dark/icon-html.svg");
}

.skill-css {
  background-image: url("img/dark/icon-css.svg");
}

.level {
  background-color: #080208;
  border: 1px solid #712073;
}

.level div {
  background-color: #fea18d;
}

.button {
  color: #0b0c23;
  background-color: #f9dd79;
  box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
}

.button:focus,
.button:hover {
  background-color: #f9e7a8;
  box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.button:active {
  background-color: #b69e4b;
  box-shadow: none;
}

.page-footer {
  background-color: #260c26;
}

.page-footer a {
  color: #fea18d; 
}

.footer-email {
  background-image: url("img/dark/icon-email.svg");
}

.footer-phone {
  background-image: url("img/dark/icon-phone.svg");
}